.catalogPage {
    width: 79.86%;
    margin: 0 auto;
}

.titlePage {
    padding: 30px 0;
    font-size: 36px;
}

.catalogCategoriesWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 90px;
}

.catalogCategory {
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: .5s;
}

.catalogCategory:hover {
    transform: scale(1.1);
    transition: .5s;
}

.catalogCategory img {
    border-radius: 10px;
}

.catalogCategoryTitle {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 10px 10px;
    transition: .5s;
}

.catalogCategory:hover .catalogCategoryTitle {
    background: rgba(137,137,137,0.4);
    color: #fff;
    text-shadow: 1px 0 1px #000;
    font-weight: bold;
    transition: .5s;
}

.catalogCategoryTitle p {
    margin: 53px 0;
    font-size: 25px;
}