.catalogPage {
    width: 79.86%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.titlePage {
    padding: 30px 0;
    font: 400 36px/54px "Open Sans", sans-serif;
}

.titlePage a {
    color: #000;
    text-decoration: none;
    transition: .25s;
}

.titlePage a:hover {
    color: #46B14B;
    cursor: pointer;
    transition: .25s;
}

.catalogCategoriesWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding-bottom: 90px;
}

.catalogCategory {
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: .25s;
}

.catalogCategory:hover {
    transform: scale(1.05);
    transition: .25s;
}

.catalogCategory img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.catalogCategoryTitle {
    position: absolute;
    right: 0;
    bottom: 4px;
    left: 0;
    width: auto;
    border-radius: 0 0 10px 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .5s;
}

.catalogCategory:hover .catalogCategoryTitle {
    color: #fff;
    background: rgba(137,137,137,0.4);
    transition: .5s;
}

.catalogCategoryTitle p {
    margin: 30px 0;
    font-size: 25px;
}