.fade:before {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    content: '';
    background: #898989;
    opacity: 0.75;
}

.container {
    position: absolute;
    left: 26%;
    top: 10%;
    z-index: 3;
    width: 720px;
    height: 400px;
    padding: 15px 30px 30px 30px;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
}

.wrapOrder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.wrapOrder p{
    font: 600 25px/34px "Open Sans", sans-serif;
}

.line {
    margin: 15px 0;
    border: 0;
    border-top: 2px dashed #000000;
}

.infoBuyer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.infoBuyer input {
    height: 40px;
    padding-left: 15px;
    border: 1px solid #46B14B;
    border-radius: 10px;
    font: 400 16px/32px "Open Sans", sans-serif;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textOrderInfo {
    font-size: 16px;
    line-height: 25px;
}

.btnOrder {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}

.btnConfirm {
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: #46B14B;
    cursor: pointer;
}

.btnCancel {
    width: 100px;
    height: 40px;
    border: #46b14b 1px solid;
    border-radius: 50px;
    color: #46B14B;
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
    cursor: pointer;
}

.wrapApproveOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.approveTitle {
    color: #46B14B;
    font: 700 40px/54px "Open Sans", sans-serif;
}

.approveBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.approveOrder {
    margin-top: 20px;
    font: 400 36px/49px "Open Sans", sans-serif;
}

.approveOrderNumber{
    color: #46b14b;
    font: 700 36px/49px "Open Sans", sans-serif;
}

.approveButton {
    align-self: flex-end;
    align-items: center;
    width: 320px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font: 400 24px/32px "Open Sans", sans-serif;
    background: #46b14b;
    cursor: pointer;
}