.fade:before {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: #898989;
    opacity: 0.75;
}

.container {
    z-index: 3;
    position: fixed;
    left: 26%;
    top: 10%;
    left: 25%;
    top: 25%;
    width: 720px;
    height: 400px;
    padding: 15px 30px 30px 30px;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
}

.wrapOrder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.wrapOrder p{
    font: 600 25px/34px "Open Sans", sans-serif;
}

.line {
    margin: 15px 0;
    border: 0;
    border-top: 2px dashed #000000;
}

.infoBuyer {
    display: flex;
}

.infoBuyer input {
    height: 40px;
    padding-left: 15px;
    border: 1px solid #46B14B;
    border-radius: 10px;
    font: 400 16px/32px "Open Sans", sans-serif;
}

.formOrder{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formOrder input {
    width: 100%;
    margin-top: 5px;
}

.errorMessage {
    display: none;
    color: red;
    font: 400 14px/16px "Open Sans", sans-serif;
}

input:invalid[focused = "true"] {
border: red 1px solid;
}

input:invalid[focused = "true"]:focus {
    border: none;
}

input:invalid[focused = "true"] ~ span{
    display: block;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textOrderInfo {
    font-size: 16px;
    line-height: 25px;
}

.btnOrder {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}

.btnConfirm {
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: #46B14B;
    cursor: pointer;
    transition: .5s;
}

.btnCancel {
    width: 100px;
    height: 40px;
    border: #46b14b 1px solid;
    border-radius: 50px;
    color: #46B14B;
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
    cursor: pointer;
    transition: .5s;
}

.blockApproveOrder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.approveButtonNone {
    z-index: 5;
    position: absolute;
    bottom: 50px;
    right: 200px;
    opacity: 0;
    align-self: flex-end;
    align-items: center;
    height: 40px;
    width: 320px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font: 400 24px/32px "Open Sans", sans-serif;
    background: #46b14b;
}

.hidden{
    display: none;
}
