.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    width: 79.86%;
    margin-top: 30px;
    font: 400 36px/49px "Open Sans", sans-serif;
}

.ContainerCart {
    display: flex;
    justify-content: space-between;
    width: 79.86%;
    margin: 30px 0;
}

.CartItems {
    display: flex;
    flex-direction: column;
    width: 60.87%;
}

.productInfo {
    display: flex;
    gap: 25px;
}

.CartItem {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 100%;
    height: 175px;
    background: #D3EAC3;
    border-radius: 10px;
}

.imgExample {
    width: 150px;
    height: 125px;
    background: #fff;
    border-radius: 10px;
}

.CartDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProductName {
    font: 400 32px/44px "Open Sans", sans-serif;
}

.ProductCategory {
    color: #558203;
    font: 400 24px/33px "Open Sans", sans-serif;
}

.ProductPrice {
    color: #898989;
    font: 700 24px/33px "Open Sans", sans-serif;
}

.InfoPrice {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.AboutWeight {
    display: flex;
    gap: 5px;
    height: 40px;
}

.AboutWeight button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.productWeight {
    background: #FFFFFF;
    border: 1px solid #46B14B;
    border-radius: 10px;
    font: 400 16px/22px "Open Sans", sans-serif;
}

.AboutPrice {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: auto 0 0 0;
}

.AboutPrice p {
    font: 400 40px/54px "Open Sans", sans-serif;
}

.FinalCheck {
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    width: 34.78%;
    background: #D3EAC3;
    border-radius: 10px;
}

p {
    margin: 0px;
}

.promocode {
    font: 600 24px/33px "Open Sans", sans-serif;
}

.PromocodeInput {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    padding-left: 15px;
    margin-top: 10px;
    background: transparent;
    border: 1px solid #46B14B;
    border-radius: 10px;
    font: 400 16px/22px "Open Sans", sans-serif;
    text-align: left;
}

input:focus::-webkit-search-cancel-button {
    display: none;
}

input:focus {
    outline: 1px solid #46B14B;
}

input::placeholder {
    display: flex;
    align-items: center;
}

.ContainerSumm {
    display: flex;
    justify-content: space-between;
}

.intermediate {
    margin-top: 5px;
    font: 400 20px/27px "Open Sans", sans-serif;
}

.total {
    margin-top: 5px;
    font: 700 20px/27px "Open Sans", sans-serif;
}

.ContainerButton {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.ContainerButton button {
    width: 300px;
    height: 50px;
    background: #46B14B;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font: 700 16px/22px "Open Sans", sans-serif;
}