* {
  /*box-sizing: border-box;*/
  /*margin: 0;*/
  /*padding: 0;*/
}

html, body {
  background: #FCFFF6;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url("src/assets/Fonts/Montserat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'MontserratBold';
  src: url("src/assets/Fonts/Montserat/Montserrat-Bold.ttf");
}
