.container {
    display: flex;
    justify-content: center;
    height: 1250px;
}

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 79.86%;
}

.advantagesTitle {
    margin: 60px 0 25px 0;
    font: 400 45px/54px "Open Sans", sans-serif;
}

.advantageContainer{
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.itemAdvantege {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.itemImg{
    height: 110px;
}

.itemTitle {
    margin:0;
    font: 400 30px/40px "Open Sans", sans-serif;
    text-align: center;
}

.itemBody {
    margin: 0;
    color: #898989;
    font: 400 25px/34px "Open Sans", sans-serif;
    text-align: center;
}