.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin: 30px 0;
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background: #D3EAC3;
}

.NavBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79.86%;
}

.SearchContainer {
    display: flex;
    align-items: center;
    width: 700px;
}

.InputSearch {
    height: 41px;
    width: 91.43%;
    padding-left: 30px;
    font-family: "MontserratRegular";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    background: #FCFFF6;
    border: none;
    outline: 1px solid #fff;
    border-radius: 10px 0 0 10px;
}

.InputSearch input:focus::-webkit-search-cancel-button {
    display: none;
}

.InputSearch:focus {
    outline: 1px solid #46B14B;
}

.InputSearch input::placeholder {
    display: flex;
    align-items: center;
}

.BtnSearch {
    height: 42px;
    width: 8.57%;
    background: #46B14B;
    border: none;
    border-radius: 0 10px 10px 0;
}

.NavRef {
    display: flex;
    gap: 15px;
    /*    color: black;*/
    font-family: "MontserratRegular";
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;

}

/*.NavRef a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/


.navLink {
    color: #000;
    text-decoration: none;
}

.navLink svg {
    fill: #000;
}

.navLink svg:hover {
    fill: #46B14B;
}

.navLink:hover {
    color: #46B14B;
    cursor: pointer;
}

.navLinkActive {
    color: #46B14B;
    text-decoration: underline;
}

.navLinkActive svg {
    fill: #46B14B;
}