.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-bottom: 30px;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background: #D3EAC3;
}

.navBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79.86%;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 60%;
    margin-right: 15px;
}

.inputSearch {
    height: 40px;
    width: 91.43%;
    padding-left: 30px;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: 1px solid #fff;
    font: 400 20px/24px "MontserratRegular", sans-serif;
    background: #FCFFF6;
}

.inputSearch input:focus::-webkit-search-cancel-button {
    display: none;
}

.inputSearch input:hover::-webkit-search-cancel-button {
    display: none;
}

.inputSearch:focus {
    border: 1px solid #46B14B;
}

.inputSearch input::placeholder {
    display: flex;
    align-items: center;
}

.btnSearch {
    height: 42px;
    width: 8.57%;
    background: #46B14B;
    border: none;
    border-radius: 0 10px 10px 0;
}

.navRef {
    display: flex;
    align-items: center;
    gap: 15px;
    font: 400 24px/29px "MontserratRegular", sans-serif;
}

.navLink {
    color: #000;
    text-decoration: none;
}

.navLink svg {
    fill: #000;
}

.navLink svg:hover {
    fill: #46B14B;
}

.navLink:hover {
    color: #46B14B;
    cursor: pointer;
}

.navLinkActive {
    color: #46B14B;
    text-decoration: underline;
}

.navLinkActive svg {
    fill: #46B14B;
}