.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: white;
    font: 500 16px/18px 'Open Sans', sans-serif;
    background: #ff4c4c;
}