.productInfo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.cartItem {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background: #D3EAC3;
}

.imgWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 175px;
    border-radius: 10px;
    background: #ffffff;
}

.imgExample {
    height: 125px;
    border-radius: 10px;
}

.cartDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productName {
    font: 400 28px/36px "Open Sans", sans-serif;
}

.productCategory {
    color: #558203;
    font: 400 24px/33px "Open Sans", sans-serif;
}

.productPrice {
    color: #898989;
    font: 700 24px/33px "Open Sans", sans-serif;
}

.infoPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.aboutWeight {
    display: flex;
    justify-content: right;
    gap: 5px;
    width: 100%;
    height: 40px;
}

.aboutWeight button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #46B14B;
    border-radius: 50px;
    background: #FCFFF6;
    cursor: pointer;
}

.aboutWeight button img:active {
    transform: scale(0.7);
    transition: .2s;
}

.productWeight {
    width: 60%;
    border: 1px solid #46B14B;
    border-radius: 10px;
    font: 400 16px/22px "Open Sans", sans-serif;
    text-align: center;
    background: #FFFFFF;
}

.aboutPrice {
    display: flex;
    gap: 25px;
    justify-content: right;
    margin: auto 0 0 0;
}

.aboutPrice div {
    font: 600 30px/54px "Open Sans", sans-serif;
}

.aboutPrice button {
    border: none;
    background: none;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

