.categoryItem {
    display: flex;
    flex-direction: column;
    /*width: 250px;*/
    padding: 10px;
    border-radius: 10px;
    background: #D3EAC3;
}

.productImageBack{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}

.productImage {
    z-index: 10;
    height: 150px;
}

.productName {
    font: 400 25px/35px "Open Sans",sans-serif;
}

.productPrice {
    color: #898989;
    font: 700 24px/33px "Open Sans",sans-serif;
}

.aboutWeight {
    display: flex;
    justify-content: center;
}

.aboutWeight img {
    width: 20px;
    height: 30px;
}

.aboutWeight input {
    width: 60%;
    margin: 0 5px;
    border: 1px solid #46B14B;
    border-radius: 10px;
    font: 600 18px/24px "MontserratRegular", sans-serif;
    text-align: center;
}

.aboutWeight button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s;
}

.aboutWeight button img:active {
    transform: scale(0.7);
    transition: .2s;
}

.aboutPrice {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.aboutPrice button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font: 400 18px/30px "Open Sans",sans-serif;
    background: #46B14B;
    opacity: 0.8;
    cursor: pointer;
    transition: .5s;
}

.aboutPrice button:hover {
    box-shadow: 4px 4px 8px #898989;
    transform: translateX(-4px);
    opacity: 1;
    transition: .5s;
}