.footerWrap {
    width: 100%;
    font-family: 'MontserratRegular', sans-serif;
    cursor: default;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    font-size: 20px;
    border-top: 2px solid #46B14B;
    border-bottom: 2px solid #46B14B;
}

.feedback a {
    color: #558203;
    text-decoration: none;
}

.feedback a:hover {
    text-decoration: underline;
}

.footerInfo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
}

.info {
    display: flex;
    align-items: center;
    gap: 80px;
}

.footerInfo a {
    text-decoration: none;
    color: #898989;
}

.footerInfo a:hover {
    color: #558203;
}

.footerInfo p {
    color: #898989;
    font-size: 15px;
}
