.footerWrap {
    width: 100%;
    font-family: 'MontserratRegular', sans-serif;
    cursor: default;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    font-size: 20px;
    background: #D3EAC3;
}

.feedback a {
    color: #558203;
    text-decoration: none;
}

.feedback a:hover {
    text-decoration: underline;
}

/*.footerInfo {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width: 79.86%;*/
/*    padding: 15px 0;*/
/*    margin: auto;*/
/*}*/

.footerInfo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
}

.info {
    display: flex;
    align-items: center;
    gap: 80px;
}

.footerInfo a {
    text-decoration: none;
    color: #898989;
}

.footerInfo a:hover {
    color: #558203;
}

.footerInfo p {
    color: #898989;
    font-size: 15px;
}


/*.info {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 30px;*/
/*}*/

@media (max-width: 1440px) {
    /*.footerInfo {*/
    /*    display: flex;*/
    /*    flex-direction: column-reverse;*/
    /*    align-items: center;*/
    /*    gap: 10px*/
    /*}*/
    /*.info {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    gap: 80px;*/
    /*}*/
}
