.categoryPage {
    width: 79.86%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.categoryNameAndFilters {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.titlePage {
    padding: 30px 0;
    font: 400 36px/54px "Open Sans", sans-serif;
}

.filters {
    position: absolute;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    font: 400 24px/33px "Open Sans", sans-serif;
}

.filters img {
    width: 20px;
    height: 10px;
}

.selectFilterItem {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
    background: #fff;
    cursor: pointer;
    transition: .5s;
}

.selectFilterItem:nth-child(odd) {
    background: #D3EAC3;
}

.selectFilterItem:hover {
    background: #46B14B;
    color: #ffffff;
    transition: .5s;
}

.activeFilter {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 30px;
    cursor: pointer;
}

.arrowDefault {
    transform: rotate(180deg);
    transition: .75s;
}

.arrowAnimation {
    transform: rotate(0deg);
    transition: .75s;
}

.contentEnterActive {
    height: 0;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #898989;
    overflow: hidden;
}

.contentDoneEnter {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #898989;
    overflow: hidden;
    animation: smoothnessListActive 1s forwards;
}

.contentExitActive {
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #898989;
    overflow: hidden;
    animation: smoothnessListExit 1s forwards;
}

.contentDoneExit {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #898989;
    overflow: hidden;
    animation: smoothnessListExit 1s forwards;
}

@keyframes smoothnessListActive {
    from {
        height: 0;
    }

    to {
        height: 200px;
    }
}

@keyframes smoothnessListExit {
    from {
        height: 200px;
    }

    to {
        height: 0;
    }
}

.listFilter {
    height: 0;
    overflow: hidden;
}

.categoryItemsWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    padding-bottom: 90px;
}

.categoryItem {
    width: 200px;
    height: 400px;
    background: #000;
}