.container-slider {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 100px auto 0;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}

.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.active-anim {
    opacity: 1;
}

.btn-slide {
    position: absolute;
    display: flex;
    width: 45px;
    height: 45px;
    background: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.btn-slide img {
    height: 45px;
    width: 45px;
    pointer-events: none;
}

.prev {
    top: 50%;
    transform: translateY(-60%);
}

.next {
    top: 50%;
    right: 0px;
    transform: translateY(-60%);
}


.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

.dot {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    border-radius: 50%;
    border: 3px solid #46B14B;
    background: #ffffff;
}

.dot.active {
    background: #46B14B;
}